<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"dmg/home-hero"} /-->
	<!-- wp:pattern {"slug":"dmg/home-listings"} /-->
	<!-- wp:pattern {"slug":"dmg/home-video"} /-->
	<!-- wp:pattern {"slug":"dmg/home-buyer-cta"} /-->
	<!-- wp:pattern {"slug":"dmg/home-seller-cta"} /-->
	<!-- wp:pattern {"slug":"dmg/home-testimonials"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
